.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#board-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.board {
    width: 300px;
    height: 300px;
    background-color: #FAF9F6;
    border: 2px solid black;
    position: relative;
    z-index: 0;
}

.line {
    stroke: black;
    stroke-width: 4;
    position: absolute;
    z-index: -1;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

label {
    margin-top: 20px;
}

.disable-click {
    pointer-events: none;
}

.game-status{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}